<template>
    <div>
        <lightning-datatable
                key-field="id"
                hide-checkbox-column
                data={results}
                columns={columns}>
        </lightning-datatable>
    </div>
</template>