<template>
    <div class="slds-m-top_medium slds-m-horizontal_medium slds-m-bottom_x-large">
        <h2 class="slds-text-heading_medium slds-m-bottom_medium">
            Task 3
        </h2>

        <div class="slds-p-around_medium lgc-bg">
            <div class="slds-m-bottom_medium">
                <lightning-input type="text" label="Search Accounts & Contacts" name="SearchInput" onchange={handleInputChange}></lightning-input>
            </div>

            <c-task-3-datatable search-input={searchInput}></c-task-3-datatable>
        </div>
    </div>
</template>