<template>
    <div>
        <lightning-datatable
                key-field="Id"
                hide-checkbox-column
                data={results}
                columns={columns}
                onrowaction={handleRowAction}>
        </lightning-datatable>
    </div>
</template>