<apex:page id="task2">
    <apex:includeLightning/>

    <div id="lightning"/>

    <script>
        $Lightning.use("c:app", function () {
            $Lightning.createComponent("c:task2Container",
                {},
                "lightning",
                function (cmp) {
                }
            );
        });
    </script>
</apex:page>